In [32]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import random
import pyarrow as pa
import pyarrow.parquet as pq

Import data with read_parquet

In [2]:
df = pd.read_parquet("../data/raw/raw_data.parquet", engine="pyarrow")

Visualize the metadata. The dataset contains two column, the image and it's label.

The image are presented as PNG encoding, and the label are integers.

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   image   70000 non-null  object
 1   label   70000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.1+ MB

As the dataset is big enough, 70mil records, we can split them into train, test and also validation set.

Firstly we will need to shuffle the data

In [13]:
df.sample(frac=1, random_state=42)

                                                   image  label
46730  {'bytes': b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHD...      7
48393  {'bytes': b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHD...      6
41416  {'bytes': b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHD...      4
34506  {'bytes': b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHD...      4
43725  {'bytes': b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHD...      1
...                                                  ...    ...
37194  {'bytes': b"\x89PNG\r\n\x1a\n\x00\x00\x00\rIHD...      7
6265   {'bytes': b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHD...      4
54886  {'bytes': b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHD...      1
860    {'bytes': b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHD...      6
15795  {'bytes': b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHD...      7

[70000 rows x 2 columns]

And them split into 70%, 15% and 15% for train, validation and testing sets.

In [27]:
train, validation, test = \
              np.split(df.sample(frac=1, random_state=42), 
                       [int(.7*len(df)), int(.85*len(df))])

C:\Users\Zhengyong Ji\AppData\Roaming\Python\Python311\site-packages\numpy\core\fromnumeric.py:57: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [31]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 49000 entries, 46730 to 26809
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   image   49000 non-null  object
 1   label   49000 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.1+ MB

In [35]:
pq.write_table(pa.Table.from_pandas(train), "../data/processed/train.parquet")
pq.write_table(pa.Table.from_pandas(validation), "../data/processed/validation.parquet")
pq.write_table(pa.Table.from_pandas(test), "../data/processed/test.parquet")